@import url('https://fonts.googleapis.com/css?family=Arapey');
.book{
	height:250px;

}
h1{
	font-family:'Arapey';
}
.book img{
	box-shadow:1px 1px 1px black;
	border:solid 1px grey;
}
.pics{
	float:left;
	padding:15px 30px 10px 5px;
}
.poka{
	margin:15px;
}
.form_cart {

	//margin-top:40px;
}
.form_cart tr .hPb{
	display: none;
}
.navbar-header{
	margin-top:15px;
	//clear:both;
	//float:left;
		font-family: Arial;
color:grey;
}
a.navbar-brand.laravel{
	clear:both;
   // 
	font-family: Arial;
color:grey;
}
.form_cart.cart {
	//float:right;
}
#basket{
	//float:right;
	font-size:14px;
}
.count{
	width: 50px;
}
.container{
	color:grey;
}
a.laravel{
	color:grey;
	margin-right:20px;
	font-size:20px;
	
}
.navbar-right{
	margin-top:5px;
	font-size:16px;
}